# Backtest Misc. [WIP]

Examples of backtesting for 
1. multiple series 
2. multiple models

- TODO:
we can just set list to append iterated results and concat by keys fit/predict args and callbacks can be inputted as list

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('ggplot')

from orbit.lgt import LGT
from orbit.dlt import DLT
from orbit.backtest.backtest import TimeSeriesSplitter, Backtest
from orbit.utils.metrics import mape, smape, wmape

## Load data

In [2]:
data_path = "../examples/data/iclaims_example.csv"
raw_data = pd.read_csv(data_path, parse_dates=['week'])

## log transformation
data = raw_data.copy()
# data[['claims', 'trend.unemploy', 'trend.filling', 'trend.job']] = \
#     data[['claims', 'trend.unemploy', 'trend.filling', 'trend.job']].apply(np.log, axis=1)

print(data.shape)
data.head(5)

(443, 5)

        week  claims  trend.unemploy  trend.filling  trend.job
0 2010-01-03  651215        1.183973       0.720140   1.119669
1 2010-01-10  825891        1.183973       0.814896   1.178599
2 2010-01-17  659173        1.203382       0.739091   1.119669
3 2010-01-24  507651        1.164564       0.814896   1.107883
4 2010-01-31  538617        1.086926       0.776993   1.072525

## Backtest Multiple Series [WIP]